
<h1 style="color:blueviolet">Azure Cosmos Db</h1>

<a asp-controller="Coches" asp-action="ListadoVehiculos" class="btn btn-success">Vehiculos Cosmos Db</a>

<hr/> 
<hr />
<hr />

<form method="post">
    <button name="accion" value="iniciar" class="btn btn-dark">Generar recursos Cosmos Db</button>
</form>

@ViewData["MENSAJE"]